body{
  margin: 0px;
  padding: 0.2px;
}

/* navbar  start */

.header .menu-icon{
    position: absolute;
    color: black;
    font-size: 30px;
    right: 0;
    padding-right: 20px;
    top: 24px;
    cursor: pointer;
    z-index: 1;
}
.menu-list{
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, .8);
  overflow-y:auto;
  transition: 0.5s ease-in-out;
}
.menu-content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.menu-content a{
  padding: 16px;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  display: block;
  font-family: sans-serif;
  transition: 1s ease-in-out;
}
.menu-content a:hover{
  
  transform: scale(1.5); 
}
.menu-list .closebtn{
  position: absolute;
  top: 36px;
  right: 25px;
  font-size: 30px;
  color: white;
  z-index: 1;
  cursor: pointer;
}

/* navbar  end */

/* header start */

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}  

/* header  end */

/* main content  start */

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 7vh;
}

.main-content {

    position: relative;
    margin-left: 50px;
    transition: margin-left 500ms;
}

main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 3rem;
}

.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.activity-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1.5rem;
}

.activity-card
 {
    background: #fff;
    border-radius: 7px;
    margin-right: 10px;
}

.activity-card table {
    width: 100%;
   border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.activity-card thead {
    background: #efefef;
    text-align: center;
}

th
{
  background-color: #6533A8;
  color: #fff;
}

th, td {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    color: var(--color-dark);
     padding:12px 15px;
  border:none;
}

td {
    font-size: 1.5rem;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f9fafc;
}



/*.table-responsive {
    overflow-x: auto;
}*/

@media only screen and (max-width: 1200px) {

    .main-content {
        margin-left: 60px;
    }

    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }
  }

@media only screen and (max-width: 860px) {
  
    .activity-grid {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


/* main content  end */