* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}


section     
{
    position: relative;
    width: 100%;
    
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}


.navbar {

    display: flex;   
    justify-content: space-between;
    align-items: center; 
	padding: 15px 75px;
  padding-left: 0;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navbar .logo img
{
	width: 100px;
	height: 100px;
}

.navbar-links {
    height: 100%;
    width: 20%;
}

.navbar-links ul {
	position: relative;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li a:hover {

     color: #008598;
}

.navbar-links .user-header-login
{
  border: 2px solid #008598;
  background-color: white;
  color: black;
  padding: 10px 28px;
  margin: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.navbar-links .user-header-login:hover
{
    background-color: #008598;
    color: white;
    transform: translateY(2px);
}

.navbar-links .user-header-logout
{
  background-color: #008598;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 40px;
}
.navbar-links .user-header-logout:hover
{
    color: #fff;  
    transform: translateY(2px);
}
.navbar-links .validate_book
{
    padding: 10px 20px;
  margin: 8px 0;
  font-size: 1rem;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;

}
.navbar-links .validate_book:hover
{
    color: #008598;
}

.toggle-button {
    position: absolute;
    top: 3rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {

    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links .user-header-login
    {
      margin-left: 20px;
    }

    .navbar-links .validate_book
    {
       padding: .5rem 100px;
    }


    .navbar-links .user-header-logout
    {
      margin-left: 20px;
    }

    .navbar-links.active {
        display: flex;
    }
}